@page "/"

<h1>Welcome to the School Database System!</h1>

<p>This software is the beginning of a fantastic tool that will revolutionize higher education institutions' administration tasks.</p>
<p>By storing courses, course sections, course enrollment, and students, both students, faculty, and administration will have a much easier time knowing who is in which course and in what room. Scheduling problems are now a thing of the past!</p>
<p><em>See BTA1002 Chapter 4 PowerPoint Slide 41 for the diagram.</em></p>

